

*{
	margin: auto;
	padding: auto;
	background-color: aquamarine;

}
#welcome-section {
	padding-left: 5rem;
	padding-right: 5rem;
	padding-bottom: 2rem;
	padding-top: 2rem;
	color: red;
    text-align: center;
	display: flex;
	overflow: auto;
}
#navbar {
 top: 0;
 left: 0;
 position: fixed;
 width: 100%;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}